@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply leading-normal;
    }

    h1 {
        @apply text-4xl
            font-bold;
    }

    h2 {
        @apply text-2xl
            font-bold;
    }

    h3 {
        @apply text-xl
            font-bold;
    }

    code {
        @apply border
            inline-block
            leading-none
            px-2
            py-[1px]
            rounded-sm
            text-sm
          bg-slate-100
          border-slate-200;
    }

    a {
        @apply relative
            text-indigo-600;
    }

    a:hover:before {
        @apply h-[.35rem];
    }

    a:before {
        @apply absolute
          bg-indigo-200
            bottom-[-.125rem]
            duration-300
            h-[.125rem]
            transition-all
            w-full
            z-[-1];

        content: '';
    }

    svg {
        @apply w-full;
    }

    svg path {
        fill: currentColor;
    }
}

@layer components {
    .section {
        @apply last:mb-0
            mb-5;
    }
}
